:root {
    --light-green: #82b99b;
    --main-green: #3b7555;
    --dark-green: #1d5545;
    --light-gray: #ddd;
    --dark-gray: #888;
    --main-font-size: 16px;
    --common-border: 1px #ddd solid;
    --dark-border: 1px #999EA2 solid;
    --common-border-radius: 5px;
}



/* 共用 */

.warp {
    padding: 60px 5px 60px 5px;
    width: 100%;
    font-size: var(--main-font-size);
    font-family: sans-serif;
}



img {
    vertical-align: middle;
    width: 100%;
    border: 0px;
}

h1 {
    font-size: 28px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: var(--main-green);
}

/* 手機板隱藏*/
.mobi-hide {
    display: none;
}

/* ----------- */

.header-container {
    width: 100%;
}

.header-title h1 {
    color: #fff;
    padding: 20px;
    background-color: #252824;
}

.event-info {
    color: #AAA;
    background-color: #323530;
    padding: 10px 30px;
}

.event-info i {
    display: inline-flex;
    align-items: center;
}

.info p {
    text-indent: -1em;
    padding: 0.5em 0.5em 0.5em 1em;
}

p .fa {
    width: 0.8em;
    margin: 0;
    padding: 0;
    text-indent: -0.5em;
}

.event-info ul {
    list-style-type: none;
}


.content-wrapper {
    width: 100%;
    background-color: #FFF;
    box-shadow: 0 0 20px 0 #000;
}

#pc-btn-success {
    text-decoration: none;
    color: #fff;
}

.loge {
    font-size: 30px;
}

/* 活動內文 */
.main {
    padding: 10px 10px;
    line-height: 2.2em;
}

.description {
    margin: 10px 20px;

}

.description p {
    padding-left: 30px;
}


.description ol {
    list-style-type: decimal;
    list-style-position: outside;
    text-indent: 0.1em;
    padding-left: 45px;
}

.description ul {
    list-style-type: disc;
    list-style-position: outside;
}

.description li {
    margin-left: 20px;
}





/* 標籤 */
.tags-item {
    list-style: none;
    display: flex;
    margin: 20px 30px;
    padding-left: 10px;
}

.tags-item a {
    padding: 2px 10px;
    color: #FFF;
    margin-right: 15px;
}

.tags-item a {
    background-color: var(--main-green);
}

/* 地圖 */
.location {
    position: relative;
}

.map-wrapper {
    display: flex;
    background-color: var(--light-green);
}

.btn-wrapper {
    width: 100%;
    height: 350px;
    margin: auto;
}

.btn-group {
    position: absolute;
    right: 60px;
    bottom: 20px;
}

.btn-group .btn {
    margin: 0px;
}

/* 活動票券 */

.tickets {
    padding: 20px;
}



.tickets-wrapper {
    margin: auto;
    width: 90%;
}

tbody tr {
    display: block;
    border: 1px solid #aaa;
    margin: 0px 0px 10px;
    padding: 5px 8px;
    box-shadow: 0 0 1px 0 #000;
}

tbody td {
    display: block;
    margin: 10px;
}

/* 報名人區塊 */
.event-attendees {
    background-color: #000;
    color: #fff;
    position: relative;
    padding: 30px 0 60px 0;

}

.event-attendees span {
    color: rgb(213, 145, 9);
}

.event-attendees h2 {
    margin: 0px 10px 10px 40px;
    /* padding: 10px 10px 10px 55px ; */
    color: #fff;
}
.show-attendees{
    display: flex;
}

ul.attendees {
    margin-top: 50PX;
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 10px;
    grid-row-gap: 20px;

}
.attendees{
    display: none;
}





@media (min-width:768px) {
    /* 共用 */


    .warp {
        max-width: 1200px;
        margin: auto;
    }

    .pc-hide a {
        display: none;
    }

    .pc-hide {
        display: none;
    }

    .mobi-hide,
    .mobi-hide i,
    .mobi-hide a {
        display: flex;
    }

    .organizers {
        background-color: #aaaaaa5e;
        padding: 20px 30px;
        align-items: center;
    }

    .organizers i {
        padding: 10px;
    }

    .organizers a {
        color: #64C06B;
        text-decoration: none;
        padding: 10px;
    }

    .organizers a:hover {
        color: #2c8b34;
    }

    /* 地圖 */

    .btn-wrapper {
        width: 750px;
        height: 350px;
        margin: auto;
    }

    .map-wrapper .address {
        margin: 20px;
    }

    /* 活動票券 */
    .tickets {
        padding: 10px;
    }

    .tickets h2 {
        padding-left: 40px;
    }

    .tickets-wrapper .mobi-hide {
        display: flex;
    }

    .tickets-wrapper tr {
        width: 90%;
        display: flex;
        border: none;
        border-bottom: 1px solid black;
        padding: 10px;
        box-shadow: 0 0 1px 0 #fff;
        justify-content: space-between;
        margin: auto;
    }

    .tickets-wrapper th {
        padding: 10px;
    }

    /* 報名人區塊 */

    ul.attendees {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18%, 1fr));
        grid-gap: 10px;
        grid-row-gap: 20px;
    }

    .attendees-btn {
        position: absolute;
        top: 50px;
        width: 100%;
    }
    .show-attendees{
        display: none;
    }

    .attendees {
        padding: 0 20px;
        display: grid !important;
    }

    .attendees a {
        padding: 20px 0;
    }
}

@media (min-width:1000px) {

    /* 地圖 */
    .btn-wrapper {
        width: 750px;
        height: 350px;
        margin-left: 0px;
    }

    .map-wrapper .address {
        display: flex;
        margin: 20px;
    }
}

/* 底部 */

footer {
    width: 100%;
    height: 200px;
    background-color: #323530;
    text-align: center;
    font-size: 14px;
    color: #aaa;

}

#footer-end {
    padding: 10px;
    width: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
}

footer a {
    text-decoration: none;
    padding: 10px;
    color: #aaa;

}

#logo {
    margin: 0px;
}

footer img {
    width: 200px;
    padding: 10px;
    margin: 30px;
    color: #aaa;

}



.language {
    padding: 15px;
    font-family: sans-serif;
}


.current {
    border-bottom: 2px solid #64c025;
    color: #fff;
    padding: 8px;
}

.language a:hover {
    color: #fff;
}

@media (min-width:768px) {
    /* 底部 */



    .language>a:nth-of-type(-n+3) {
        margin: 10px;
    }
}