:root {
    --main-color: #3b7555;
    --main-color-hover: #77A88D;
    --second-color: #518f6d;
    --click-color: #1d5545;
    --main-font-size: 16px;
    --common-border: 1px #ddd solid;
}

body {
    position: relative;
}

#header-nav-wrap {
    height:46px;
}

.wrap {
    margin: 0;
    width: 100%;
    
}

.container {
    display: flex;
    max-width: 1200px;
    padding: 0;
    margin: 0;
}
/* ==============side menu start============== */
.sideBarMenu {
    width: 200px;
    background-color: #518f6d;
    flex-direction: column;
}


.sideBarMenu #publish-btn {
    width: 140px;
    margin: 10px;
    background-color: #fff;
    color: var(--main-color);
    border-radius: 5px;
}

.sideBarMenu a {
    padding-left: 20px;
    padding-bottom: 10px;
}

nav a {
    display: block;
    padding: 15px;
    text-decoration: none;
    position: relative;
    color: #fff;
}

    nav a:hover {
        background-color: #1d5545;
        color:#fff;
    }

    nav a > i {
        margin-right: 15px;
    }

nav p {
    background-color: #3b7555;
    display: block;
    padding: 12px;
    margin-bottom: 0;
    position: relative;
    color: #fff;
    padding: 12px 35px;
    font-weight: bold;
}

/* 未發佈按鈕置中 */
.sideBarMenu .dropdown {
    text-align: center;
}

/*.sideBarMenu a {
    padding-left: 20px;
}*/

nav .fa-cart-arrow-down {
    margin-right: 16.75px;
}

nav .fa-clipboard {
    margin-left: 3px;
    margin-right: 17.25px;
}

nav .fa-location-dot {
    margin-right: 18.5px;
}

#sideMenu-active {
    display: none;
}

/* ----------side menu end----------- */